@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", serif;
}

body {
  background-image: url("../Assets/resized!!!!.png");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: 0px -40px;
}

.nav {
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.CVSU {
  font-size: 30px;
  color: #706738;
  user-select: none;
  margin-right: 10%;
  font-weight: bold;
  display: table;
  margin-left: -20%;
  margin-top: 45px;
}

.nav-logo {
  height: auto;
  margin-top: 10px;
  display: table;
  margin-right: 5%;
}

.navigation a {
  position: relative;
  font-size: 22px;
  color: #706738;
  text-decoration: none;
  font-weight: 600;
  margin-left: 45px;
  margin-top: 20px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #FFD700;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;

}

.navigation a:hover:after {
  transform: scaleX(1);
  transform-origin: left;

}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffffff;
}

.content h1 {
  margin-top: 80px;
  font-size: 6.5em;

}

.content p {
  margin: 20px auto;
  font-weight: 300;
  line-height: 25px;
}

button {
  position: relative;
  width: 15%;
  padding: 15px;
  text-align: center;
  margin: 10px 5px;
  border-radius: 40px;
  font-weight: bold;
  border: 2px solid #ffffff;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  font-size: 20px;
}

h3 {
  font-style: italic;
  color: rgb(255, 255, 255);
  font-size: 15px;
  margin-top: 800%;
}

@media only screen and (max-width: 1220px) {

}

@media only screen and (max-width: 1158px) {
  .CVSU {
    margin-left: -20%;
  }

  .navigation a {
    margin-left: 20px;
  }

  body {
    background-position: 0px -15px;
  }
}

@media only screen and (max-width: 1088px) {

}

@media only screen and (max-width: 1016px) {
  .CVSU {
    margin-left: -25%;
    font-size: 25px;
  }

  .nav-logo{
    width: 25%;
    margin-left: 5%;
  }

  .navigation a {
    font-size: 17px;
  }
}

@media only screen and (max-width: 981px) {
  .CVSU {
    margin-left: -30%;
    font-size: 20px;
}

.navigation a {
  font-size: 15px;
}

body {
  background-position: 0px 0px
}
}

@media only screen and (max-width: 973px) {

}

@media only screen and (max-width: 878px){

}

@media only screen and (max-width: 865px) {

}

@media only screen and (max-width: 840px){
  .CVSU {
    margin-left: -30%;
    font-size: 20px;
}

.navigation a {
  font-size: 15px;
}

body{
  background-position: 0px 30px;
}
}

@media only screen and (max-width: 809px){

}
@media only screen and (max-width: 624px){

}
@media only screen and (max-width: 618px){

}

@media only screen and (max-width: 566px){

}

@media only screen and (max-width: 500px){

}